name: Static Analysis

on:
  push:
    paths:
      - "go.sum"
      - "go.mod"
      - "**.go"
      - ".github/workflows/static-analysis.yml"
      - ".golangci.yml"
  pull_request:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        go-version:
        - "1.24"
        - "1.25"
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          args: --verbose
          version: v2.6.0
